* {
    box-sizing: border-box;
  }
  

body, html {
    padding: 0;
    margin: 0;
}

.general {
    width: 100%;
    height: 100vh;
    display: flex;
}

/*Elements Background*/

.leftColum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.rightColum {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSide {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/*Fim Background*/

/*Elements*/

.divImgCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.divCardFront {
    position: relative;
}

.cardFront {
    padding-left: 35%;
}

.cardLogo {
    position: absolute;
    top: 10%; 
    left: 50%; 
    transform: translateX(-50%);
}

.cardBack {
    padding-top: 11%;
    padding-left: 120%;
}

.divForm {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}

.elements {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.elements i {
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.9;
}

.elements input {
    width: 78%;
    height: 55px;
    border-radius: 8px;
    border: 3px solid #dddddd;
    margin-left: 5px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    outline-color: #4c1d61;
}

.elementsCodes {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.9;
    padding-left: 16px;
}

.cvc {
    padding-left: 5%;
}

.inpuCodes {
    padding-left: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.inpuCodes input {
    border: 3px solid #dddddd;
    outline-color: #4c1d61;
    margin-right: 12px;
    height: 40px;
    border-radius: 8px;
}

.inputMonth, .inputYear {
    width: 12%;
}


.inputCVC {
    width: 43%;
    margin-left: 30px;
}

.button {
    background-color: #220930;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 75%;
    height: 50px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/*Fim Elements*/

/*Error Menssage*/

.menssageError1 {
    font-family: 'Roboto', sans-serif;
    padding-left: 3px;
    color: red;
    display: none;
    position: absolute;
    margin-top: 100px;
}

.menssageError2 {
    font-family: 'Roboto', sans-serif;
    padding-left: 3px;
    color: red;
    display: none;
    position: absolute;
    margin-top: 98px;
}

.menssageError3 {
    font-family: 'Roboto', sans-serif;
    padding-left: 18px;
    color: red;
    margin-top: -10px;
    padding-bottom: 23px;
    visibility: hidden;
}

/*Fim Erros Menssage*/